body {
	background-color: #ffffff;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;  
}
header {
	background-color: #002171;
	color: #ffffff;
	background-image: url(images/sunset.jpg); 
	background-position: right;	
	background-repeat: no-repeat;	
	line-height: 400%;		
	text-indent: 1em;				
}
nav {
	background-color: #bbdefb;
	font-weight: bold;	
}
nav a {	  
	text-decoration: none;
}
h1 {
	margin-bottom: 0;
	font-family: Georgia, "Times New Roman", serif; 
}
h2 {
	color: #1976d2;
	font-family: Georgia, "Times New Roman", serif; 
}
h3 {	   
	color: #000033;
	font-family: Georgia, "Times New Roman", serif; 
}
dt {
	color: #002171;
}
.resort {
	color: #1976d2;
	font-weight: bold;	
}
ul {
	list-style-image: url(images/marker.gif);
}
footer {
	font-size: 75%;
	font-style: italic;
	text-align: center;
	font-family: Georgia, "Times New Roman", serif;
}
#contact {
	font-size: 90%;
}
